# Entorno virtual
.sentinel/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Variables de entorno
.env
.env.*

# Docker
.docker/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db


ka.txt